body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 100px;
}

.form-inline {
  margin-top: 60px;
}

#list {
  margin-left: 50px;
}

#titlePlace {
  margin-left: 60px;
  display: none;
}


#new task {
  align-content: center;
}

#smallpic {
  margin-top: 50px;
  margin-bottom: 50px;
}


#itemCategory {
  margin-top: 50px;
  margin-bottom: 50px;
}

#currentTitle {
  text-align: left;
}

#ToDo,
#addItemRow,
#check {
  margin-top: 10px;
}

.remove, .edit {
  margin-top: 10px;
}

#itemCategory,
#addItemRow,
#itemRow,
#titleRow {
  display: none;
}

#itemRow {
  margin-top: 10px;
  margin-left: 50px;
}

#required {
  margin-left: 50px;
}



