body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.wide_jpg {
   width: 100%;
   height: 400px;
   background-image:url('/includes/img/smallelephant.jpg');
   background-size: cover;
}

h2 {
  text-align: center;
}

footer {
  text-align: center;
  padding-top: 100px;
}